* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
}

.tele {
    width: 100vw;
    height: 100vh;
    border: 30px solid red;
    border-bottom: 120px solid red;
    position: relative;
}

canvas {
    width: 95.9vw;
    height: 80.9vh;
    background-color: #BFBFBF;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -90px;
    left: 0;
}

.cont {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px dotted rgb(173, 173, 173);
}